<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HomePage</title>
    <% if (htmlWebpackPlugin.options.dllName) { %>
    <script src="<%=htmlWebpackPlugin.options.dllName%>"></script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
